.ratings {
  li {
    color: var(--clr-primary-700);
    background: var(--clr-neutral-200);
    font-size: var(--fs-500);
    font-weight: 800;
    padding: 0.75rem 2rem;
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--bdr-rad);

    .stars {
      display: inline-flex;
      img {
        
        display: inline-block;
        margin-right: 0.5rem;
      }
    }

    @media (min-width: 50em) {
      display: flex;
      align-items: center;
      &:nth-child(1) {
        transform: translateX(-2.5rem);
      }
      &:nth-child(3) {
        transform: translateX(2.5rem);
      }
      .stars {
        margin-right: 1.5rem;
        &_text {
          position: relative;
          top: 0.15em;
        }
      }
    }
  }
}
